body {
    font-family: "sutro";
    background-color: #fffeff;
    padding: 10px;}
h1 {
    font-family: "vortice";
    color: darkorchid;}
h2 {
    color: dodgerblue;
    font-family: "vortice";}
h3 {
    color: darkmagenta;
    font-family: "Lato";}
h4 {
    color: fuchsia;
    font-family: "postino std";
    font-weight: bold;}
#source {font-size: 100%;}
i {color: cyan}
b {color:deeppink}
.page {
    border-color: darkorchid;
    background-color:aqua;
    border-style:dotted;
    padding:10px;}
#about {
    border-color: darkorchid;
    border-width:2px;
    border-style:dotted;
    padding:10px;}
td.header {
    font-family:"blenny black";
    color: fuchsia;}
th.time {
    font-family:"arial black";
    color:aliceblue;
    background-color:darkturquoise;}
.container{
    font-family:"abril fatface";
    background-color: fuchsia;
    padding: 25px;
    border-color:aquamarine;
    border-style:dotted;}
