body {
    font-family: "Adelle";
    background-color: #fffeff;
    padding: 10px;}
h1 {
    font-family: "Indie";
    color: #a60d36;}
h2 {
    color: #d92567;
    font-family: "arial black";}
h3 {
    color: #317302;
    font-family: "madre script";}
h4 {
    color: #95d904;
    font-family: "Indie";
    font-weight: 400;}
#source {font-size: 75%;}
i {color:#6a73a8}
b {color:#f59808}
.page {
    border-color: #f07408;
    border-style:dotted;
    padding:10px;}
#about {
    border-color: #f34207;
    border-width:2px;
    border-style:dotted;
    padding:10px;}
td.header {
    font-family:"Courier";
    color: #503c4d;}
th.time {
    font-family:"hoosier daddy";
    color:#a60d36;
    background-color: #ffdd30;}
.container{
    font-family:"abril fatface";
    background-color: #04b2d9;
    padding: 25px;
    border-color: c2edf2;
    border-style:dotted;}
